$textColor2: rgb(42, 94, 22);
$textColor: rgb(217, 49, 49);
$bgColor: rgb(255, 247, 0);
$bgColorhover: rgb(255, 225, 0);
$bgColoractive: rgb(255, 183, 0);
$colorprimary: rgb(14, 5, 50);
$blueColor: rgb(53, 8, 233);
.btn-standard {
  height: 50px;
  width: 70px;

  color: $textColor;
  background-color: white;
  font-size: 1.8rem;
  border: 2px solid $textColor;
  border-radius: 10px;
  transition: font-size 0.1s, background-color 0.1s;
  &:hover {
    font-size: 2.5rem;
    background-color: $bgColorhover;
  }
  &:active {
    font-size: 1.5rem;
    background-color: $bgColoractive;
  }
}

button {
  background-color: white;
  color: $textColor;
  border: 2px solid $textColor;

  &.green {
    color: $textColor2;
    border: 2px solid $textColor2;
  }
  &.blue {
    color: $blueColor;
    border: 2px solid $blueColor;
  }

  &:active {
    background-color: $bgColorhover;
  }
}
