@font-face {
  font-family: "Bangers";
  src: url("../font/Bangers/Bangers-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Architects_Daughter";
  src: url("../font/Architects_Daughter/ArchitectsDaughter-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

a,
h1,
.versus p,
button {
  font-family: "Bangers", sans-serif;
}

h2,
p,
th,
td,
#tableNav span,
input,
label {
  font-family: "Architects_Daughter", sans-serif;
}

.d-none {
  display: none;
}
