@font-face {
  font-family: "Bangers";
  src: url("../font/Bangers/Bangers-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Architects_Daughter";
  src: url("../font/Architects_Daughter/ArchitectsDaughter-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

a,
h1,
.versus p,
button,
.cont-info h2,
.heroes-card p,
.cont-result-versus p {
  font-family: "Bangers", sans-serif;
}

h2,
h3,
p,
th,
td,
#tableNav span,
input,
label,
select {
  font-family: "Architects_Daughter", sans-serif;
}

.d-none {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
html {
  width: 100%;
  overflow-x: hidden;
}
