$colorprimary: rgb(14, 5, 50);
$activeColor: rgb(217, 49, 49);

.navigation {
  position: relative;
  height: 50px;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  left: 50%;
  transform: translateX(-50%);

  .title-page {
    width: 30%;
    text-align: center;

    &.active {
      .nav-btn {
        color: $activeColor;
        font-size: 1.5rem;
      }
    }

    .nav-btn {
      text-decoration: none;
      font-size: 1.5rem;
      color: $colorprimary;
      transition: font-size 0.1s;

      &:hover {
        color: $activeColor;
        font-size: 1.8rem;
      }
      &:active {
        font-size: 1.2rem;
      }
    }
  }
}
