$colorprimary: rgb(14, 5, 50);
$activeColor: rgb(217, 49, 49);

.navigation {
  position: relative;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;

  .title-page {
    width: 32%;
    text-align: center;

    &.active {
      .nav-btn {
        color: $activeColor;
        font-size: 1rem;
      }
    }

    .nav-btn {
      text-decoration: none;
      font-size: 1rem;
      color: $colorprimary;
      transition: font-size 0.2s;

      &:hover {
        color: $activeColor;
        font-size: 1.1rem;
      }
      &:active {
        font-size: 0.8rem;
      }
    }
  }
}

@media (min-width: 425px) {
  .navigation {
    .title-page {
      &.active {
        .nav-btn {
          font-size: 1.5rem;
        }
      }
      .nav-btn {
        font-size: 1.5rem;
        &:hover {
          font-size: 1.8rem;
        }
        &:active {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .navigation {
    .title-page {
      &.active {
        .nav-btn {
          font-size: 1.7rem;
        }
      }
      .nav-btn {
        font-size: 1.7rem;
        &:hover {
          font-size: 2rem;
        }
        &:active {
          font-size: 1.4rem;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .navigation {
    .title-page {
      &.active {
        .nav-btn {
          font-size: 2rem;
        }
      }
      .nav-btn {
        font-size: 2rem;
        &:hover {
          font-size: 2.3rem;
        }
        &:active {
          font-size: 1.7rem;
        }
      }
    }
  }
}