$colorprimary: rgb(14, 5, 50);
$activeColor: rgb(67, 160, 31);
$activeColor: rgb(217, 49, 49);
$bgColoractive: rgb(255, 183, 0);
.Select-heroes-part {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  align-items: center;
  width: 80%;
  left: 50%;
  height: 200px;
  transform: translateX(-50%);
  .Select-heroes-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    .select-heroes {
      width: clamp(100px, 80%, 200px);
    }
    .img-heroes {
      width: clamp(75px, 40%, 150px);

      aspect-ratio: 480/640;
      background-color: bleu;
    }
  }

  .versus {
    position: relative;
    font-size: 3rem;
    animation: size 0.7s infinite alternate; /* Animation "blink" */
    width: 100px;
    height: 100px;
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      color: white;
      -webkit-text-stroke: 3px $activeColor; /* Épaisseur et couleur du "stroke" */
      animation: blink 0.7s infinite alternate; /* Animation "blink" */
      transform: translateX(-50%) translateY(-50%);
    }

    @keyframes blink {
      from {
        color: white;
      }
      to {
        color: $bgColoractive; /* Couleur du texte lorsque visible */
      }
    }
  }
  @keyframes size {
    from {
      font-size: 3rem;
    }
    to {
      font-size: 5rem; /* Couleur du texte lorsque visible */
    }
  }
}
