$colorprimary: rgb(14, 5, 50);
$activeColor: rgb(67, 160, 31);

.Select-heroes-part {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;

  align-items: center;
  .Select-heroes-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    .select-heroes {
      width: clamp(100px, 80%, 200px);
    }
    .img-heroes {
      width: clamp(100px, 80%, 200px);
      height: 50px;
      background-color: bleu;
    }
  }

  .versus {
    font-size: 5rem;
    p {
      color: $activeColor;
      -webkit-text-stroke: 3px $colorprimary; /* Épaisseur et couleur du "stroke" */
    }
  }
}
